<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="../../public/css/reservation/get_cancel.css">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="title">
    <div class="prev"><img src="./../../public/img/login/nav_back_icon@2x.png" alt=""></div>
    <span>取消预订</span>
</div>
<p class="txt">预约人</p>
<div class="items_01">
    <div class="user"></div>
    <div class="user_txt">
        <p>你才是张三</p>
        <p>租户</p>
    </div>
    <div class="tel">
        <div class="border"></div>
    </div>
</div>
<p class="txt">预约信息</p>
<div class="items_02">
    <p>华旭国际大厦</p>
    <div class="txt_all">
        <div class="txt">区域：黄埔-人民广场</div>
        <div class="txt">房型：商务中心</div>
        <div class="txt">面积：766m²</div>
        <div class="txt">单价：&yen;5.5元/m²/天起</div>
    </div>
</div>
<p class="txt">预约时间</p>
<div class="items_03"><span>2016-08-08</span></div>
<p class="txt">取消原因(至少选择一项)</p>
<div class="items_04">
    <div class="check_box"></div>
    <div class="check_box"></div>
    <div class="check_box"></div>
    <textarea rows="4" placeholder="原因" disabled="disabled"></textarea>
</div>
<div class="ok">确定</div>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="../../public/js/reservation/get_cancel.js"></script>
</body>
</html>