<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link type="text/css" rel="stylesheet" href="../../public/css/reservation/get_success.css">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="title">
    <div class="prev">取消</div>
    <div class="next">上传</div>
    <span>上传合同书</span>
</div>
<div class="box">
    <div class="book_box">
        <div class="border_col"></div>
        <div class="border_row"></div>
        <span>合同第一页</span>
        <div class="txt">请按照要求添加照片</div>
    </div>
    <div class="book_box">
        <div class="border_col"></div>
        <div class="border_row"></div>
        <span>合同最后一页</span>
    </div>
</div>
</body>
<script>
    document.getElementsByClassName('prev')[0].addEventListener('touchstart',function () {
        window.history.go(-1);
    })
</script>
</html>