<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link type="text/css" rel="stylesheet" href="../public/css/reservation/reservation.css ">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="title" style="position: fixed;top: 0;z-index: 3"><span>预约</span></div>

<div style="margin-top: 60px;padding-bottom: 60px">
    <div style="position: relative" class="mr">
        <div class="items">
            <div class="room"><img src="../../public/img/reservation/content_img@2x.png" alt=""></div>
            <div class="txt">
                <p>先生/女士您好：</p>
                <p>我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</p>
                <p>看房时间：<span>08/08</span></p>
                <div class="icon"><span>08/03/16:02</span></div>
                <div class="get">接单</div>
                <div class="get_in">已接单，待反馈</div>
            </div>
        </div>
        <div class="del">删除</div>
    </div>
    <div style="position: relative" class="mr">
        <div class="items">
            <div class="room"><img src="../../public/img/reservation/content_img@2x.png" alt=""></div>
            <div class="txt">
                <p>先生/女士您好：</p>
                <p>我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</p>
                <p>看房时间：<span>08/08</span></p>
                <div class="icon"><span>08/03/16:02</span></div>
                <div class="get">接单</div>
                <div class="get_in">已接单，待反馈</div>
            </div>
        </div>
        <div class="del">删除</div>
    </div>
    <div style="position: relative" class="mr">
        <div class="items">
            <div class="room"><img src="../../public/img/reservation/content_img@2x.png" alt=""></div>
            <div class="txt">
                <p>先生/女士您好：</p>
                <p>我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</p>
                <p>看房时间：<span>08/08</span></p>
                <div class="icon"><span>08/03/16:02</span></div>
                <div class="get">接单</div>
                <div class="get_in">已接单，待反馈</div>
            </div>
        </div>
        <div class="del">删除</div>
    </div>
    <div style="position: relative" class="mr">
        <div class="items">
            <div class="room"><img src="../../public/img/reservation/content_img@2x.png" alt=""></div>
            <div class="txt">
                <p>先生/女士您好：</p>
                <p>我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</p>
                <p>看房时间：<span>08/08</span></p>
                <div class="icon"><span>08/03/16:02</span></div>
                <div class="get">接单</div>
                <div class="get_in">已接单，待反馈</div>
            </div>
        </div>
        <div class="del">删除</div>
    </div>
    <div style="position: relative" class="mr">
        <div class="items">
            <div class="room"><img src="../../public/img/reservation/content_img@2x.png" alt=""></div>
            <div class="txt">
                <p>先生/女士您好：</p>
                <p>我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</p>
                <p>看房时间：<span>08/08</span></p>
                <div class="icon"><span>08/03/16:02</span></div>
                <div class="get">接单</div>
                <div class="get_in">已接单，待反馈</div>
            </div>
        </div>
        <div class="del">删除</div>
    </div>
    <div style="position: relative" class="mr">
        <div class="items">
            <div class="room"><img src="../../public/img/reservation/content_img@2x.png" alt=""></div>
            <div class="txt">
                <p>先生/女士您好：</p>
                <p>我想看【京德大楼】的房源，请帮我安排，地址是常德路319号</p>
                <p>看房时间：<span>08/08</span></p>
                <div class="icon"><span>08/03/16:02</span></div>
                <div class="get">接单</div>
                <div class="get_in">已接单，待反馈</div>
            </div>
        </div>
        <div class="del">删除</div>
    </div>
</div>
<!--底部导航栏-->
<div class="navbar">
    <ul>
        <li class="li_01">
            <div><img src="../public/img/bottomNav/bottom_nor_icon04@2x.png" alt=""></div>
            <span>首页</span>
        </li>
        <li class="li_02">
            <div><img src="../public/img/bottomNav/bottom_press_icon03@2x.png" alt=""></div>
            <span class="navbar_txt">预约</span>
        </li>
        <li class="li_03">
            <div class="more"><img src="../public/img/bottomNav/bottom_icon05@2x.png" alt=""></div>
        </li>
        <li class="li_04">
            <div><img src="../public/img/bottomNav/bottom_nor_icon02@2x.png" alt=""></div>
            <span>信息</span>
        </li>
        <li class="li_05">
            <div><img src="../public/img/bottomNav/bottom_nor_icon01@2x.png" alt=""></div>
            <span>我</span>
        </li>
    </ul>
</div>
<div class="more_send">
    <div class="send_need"></div>
    <div class="send_home"></div>
    <div class="close"></div>
</div>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="../../public/js/selector.js"></script>
<script src="../../public/js/reservation/reservation.js"></script>
</body>
</html>
