<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="../../public/css/me/about.css">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="title">
    <div class="prev" id="prev"><img src="./../../public/img/login/nav_back_icon@2x.png" alt=""></div>
    <span>关于</span>
</div>
<div class="logo">
    <div class="img">
        <img src="../../public/img/about/content_img_logo@2x.png" alt="" class="img_01">
        <img src="../../public/img/about/content_text_logo@2x.png" alt="" class="img_02">
        <span>v1.0.0</span>
    </div>
</div>

<div class="items">
    <span>电话</span>
    <span class="cookie">021-68547845</span>
    <img src="../../public/img/about/content_list_icon_right@2x.png" class="img_01">
</div>
<div class="items">
    <span>服务条款</span>
    <img src="../../public/img/about/content_list_icon_right@2x.png" class="img_01">
</div>

<div class="footer">
    <p>&copy;2016 All Right Reserved.</p>
</div>
</body>
<script>
    document.getElementById('prev').onclick = function () {
        history.go(-1);
    }
</script>
</html>