<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="./../../public/css/me/me.css">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="title">
    <span>我</span>
    <div class="setting"><img src="./../../public/img/me/nav_set_icon@2x.png" alt=""></div>
</div>
<div style="padding-bottom: 60px">
    <div class="me_title">
        <div class="top">
            <div class="login" style="display: none">
                <img src="./../../public/img/me/log in_user-head@2x.png" alt="">
                <p style="font-weight: bold;margin: 20px 100px;display: block">Yyf</p>
                <p style="margin:-10px 100px;display: block;color: #7E7E7E;width: 86px" id="changeMe">修改资料<img src="../../public/img/me/log-in_edit_icon@2x.png" alt="" style="width: 14px;float: right;margin-top: 2px"></p>
            </div>

            <div class="login login-ed">
                <img src="./../../public/img/me/log in_user-head@2x.png" alt="">
                <span id="login">点击登录/注册</span>
            </div>

            <div class="login_go"><img src="./../../public/img/me/log in_right_icon@2x.png" alt=""></div>
            <div class="user-pho" style="position: absolute;width: 20px;height: 20px;top: 68px;left: 74px;display: none"><img src="./../../public/img/me/log-in_member_icon@2x.png" alt="" style="width: 24px"></div>
        </div>
        <div class="bottom">
            <div class="txt" id="txt_01"><span>0</span><span>收藏</span></div>
            <div class="txt"><span>0</span><span>积分</span></div>
            <div class="line"></div>
        </div>
    </div>

    <div class="lis" id="lis_01">
        <div class="img"><img src="./../../public/img/me/content_list_icon01@2x.png" alt=""></div>
        <div class="txt"><span>我发布的需求</span></div>
        <div class="right"><img src="./../../public/img/me/content_list_right_icon@2x.png" alt=""></div>
    </div>
    <div class="lis" id="lis_02">
        <div class="img"><img src="./../../public/img/me/content_list_icon02@2x.png" alt=""></div>
        <div class="txt"><span>我发布的房源</span></div>
        <div class="right"><img src="./../../public/img/me/content_list_right_icon@2x.png" alt=""></div>
    </div>
    <div class="lis">
        <div class="img"><img src="./../../public/img/me/content_list_icon05@2x.png" alt=""></div>
        <div class="txt"><span>我预约的房源</span></div>
        <div class="right"><img src="./../../public/img/me/content_list_right_icon@2x.png" alt=""></div>
    </div>
    <div class="lis">
        <div class="img"><img src="./../../public/img/me/content_list_icon03@2x.png" alt=""></div>
        <div class="txt"><span>历史交易</span></div>
        <div class="right"><img src="./../../public/img/me/content_list_right_icon@2x.png" alt=""></div>
    </div>
    <div class="lis">
        <div class="img"><img src="./../../public/img/me/content_list_icon04@2x.png" alt=""></div>
        <div class="txt"><span>过期房源</span></div>
        <div class="right"><img src="./../../public/img/me/content_list_right_icon@2x.png" alt=""></div>
    </div>
</div>
<div class="more_send">
    <div class="send_need"></div>
    <div class="send_home"></div>
    <div class="close"></div>
</div>
<!--底部导航栏-->
<div class="navbar">
    <ul>
        <li class="li_01">
            <div><img src="./../../public/img/bottomNav/bottom_nor_icon04@2x.png" alt=""></div>
            <span>首页</span>
        </li>
        <li class="li_02">
            <div><img src="./../../public/img/bottomNav/bottom_nor_icon03@2x.png" alt=""></div>
            <span>预约</span>
        </li>
        <li class="li_03">
            <div class="more"><img src="./../../public/img/bottomNav/bottom_icon05@2x.png" alt=""></div>
        </li>
        <li class="li_04">
            <div><img src="./../../public/img/bottomNav/bottom_nor_icon02@2x.png" alt=""></div>
            <span>信息</span>
        </li>
        <li class="li_05">
            <div><img src="./../../public/img/bottomNav/bottom_press_icon01@2x.png" alt=""></div>
            <span class="navbar_txt">我</span>
        </li>
    </ul>
</div>
<script src="./../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="./../../public/js/me/me_login.js"></script>
</body>
</html>