<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="./../../public/css/me/me_need.css">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="title">
    <div class="prev"><img src="../../public/img/myRelease/nav_icon_back@2x.png" alt=""></div>
    <span>我发布的需求</span>
</div>

<div class="needs">
    <div class="head">
        <div class="title">一个新的租房需求</div>
        <div class="date">12/13/09:30</div>
    </div>
    <img class="img" src="../../public/img/myRelease/content_list_border.9@2x.png" alt="">
    <div class="cont">
        <p>需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>
    </div>
    <div class="more"><span>了解详情</span></div>
</div>

<script src="./../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="./../../public/js/me/me_need.js"></script>
</body>
</html>