<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="./../../public/css/me/setting.css">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="title">
    <div class="prev"><img src="./../../public/img/login/nav_back_icon@2x.png" alt=""></div>
    <span>设置</span>
</div>

<div class="items">
    <span>接受需求</span>
    <div class="button">
        <div class="button_flag"></div>
    </div>
</div>
<div class="items">
    <span>关于</span>
    <div class="about">
        <img class="img" src="../../public/img/me/content_list_right_icon@2x.png" id="about">
    </div>

</div>
<div class="items">
    <span>清除缓存</span>
    <span class="cookie">7.02M</span>
    <div class="click"><img class="img" src="../../public/img/me/content_list_right_icon@2x.png"></div>
</div>

<div class="items quit"><span>退出登录</span></div>

<div class="confirm">
    <div class="top"><span>您确定要清理缓存么？</span></div>
    <div class="bottom">
        <div class="left"><span>取消</span></div>
        <div class="right"><span>确定</span></div>
        <div class="border"></div>
    </div>
</div>
<div class="mark"></div>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/fx.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="../../public/js/me/setting.js"></script>
</body>
</html>