<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,
			maximum-scale=1,minimum-scale=1,user-scalable=no"/>
		<title>index_search</title>
		<!--<link rel="stylesheet" href="../public/css/issue/issue_search.css" />-->
		<!--<script src="../../public/js/issue_search.js"></script>-->
	</head>
	<body>
		<div class="search_box">
			<div class="ind_search">
				<img src="../../public/img/homepage/banner_icon_search@2x.png" alt="" />
				<span class="ind_search_wor">搜索想要发布的大楼</span>
				<i class="iss_x"></i>
			</div>
			<span onclick="window.open('issue.html','_self')" class="srh_cal">取消</span>
		</div>
	</body>
</html>
