<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link type="text/css" rel="stylesheet" href="../../public/css/send/send_need.css">
    <title>房我行-杭州瑞烁网络科技股份有限公司</title>
    <meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
    <meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
</head>
<body>
<div class="title" style="position: fixed;top: 0;z-index: 3">
    <span>发布需求</span>
    <div class="prev">取消</div>
    <div class="next">发布</div>
</div>

<div class="con">
    <div class="items_01"><input type="text" placeholder="颜扬帆"></div>
    <div class="items_01"><input type="text" placeholder="13788888888"></div>
    <div class="items_02">
        <textarea class="items_02" rows="10" placeholder="描述一下您的需求，比如黄埔100-200m²，5-6元/m²/天，环境好点，底层，临近地铁"></textarea>
    </div>
</div>
<div class="mark"></div>
<div class="alert">
    <div class="top">需求发布成功，请稍后</div>
    <div class="bottom">确定</div>
</div>
</body>
<script>
    window.onload = function () {
        document.getElementsByClassName('prev')[0].addEventListener('touchstart',function () {
            window.history.go(-1);
        });
        document.getElementsByClassName('next')[0].addEventListener('touchstart',function () {
            document.getElementsByClassName('mark')[0].style.display = 'block';
            document.getElementsByClassName('alert')[0].style.display = 'block';
        });
        document.getElementsByClassName('bottom')[0].addEventListener('touchstart',function () {
            location.href = '../index.html';
        });
    }
</script>
</html>