@import "../common/body.styl"
@import "../common/title.styl"
.logo
  height 290px
  .img
    width 150px
    position fixed
    top 16%
    left 50%
    margin-left -75px
    span
      position absolute
      left 110px
      bottom 8px
      color #777
    .img_01
      margin 0 auto
      width 100px
      display block
    .img_02
      display block
      width 100px
      margin-top 10px
.items
  position relative
  height 50px
  border-bottom 1px solid #D9DADF
  background-color #FFF
  padding-left 8px
  margin-top 10px
  line-height 50px
  color #474747
  .cookie
    float right
    margin-right 30px
    color #BFBFBF
  .img_01
    position absolute
    right 10px
    top 50%
    margin-top -7px
    height 14px
.footer
  position fixed
  bottom 40px
  width 200px
  left 50%
  margin-left -100px
  color #717171