@import "../common/body.styl"
@import "../common/title.styl"
.select
  position relative
  background-color #ffffff
  margin 10px 0
  overflow hidden
  .border
    position absolute
    width 1px
    height 24px
    background-color #EFEFF4
    left 50%
    top 50%
    margin-top -12px
  .title
    float left
    width 50%
    height 40px
    text-align center
    line-height 40px
    font-size 14px
  .title:nth-child(1)
    border-bottom 1px solid #ea5404
    color #ea5404
.needs
  position relative
  width 90%
  height 130px
  margin 10px auto
  background-color #ffffff
  border-radius 5px
  border-bottom 1px solid #D9DADF
  .user
    position absolute
    width 44px
    height 20px
    border-radius 3px
    right 10px
    top 14px
    text-align center
    line-height 20px
    font-size 12px
  .us01
    background-color #15B755
  .us02
    background-color #0193E6
  .date
    position absolute
    width 100px
    height 20px
    right -10px
    bottom 8px
    font-size 12px
    color #c7c7c7
  .head
    overflow hidden
    height 30px
    line-height 46px
    padding 0 8px
    .title
      height 30px
      float left
      line-height 46px
      font-size 14px
  .img
    width 100%
  .cont
    padding 8px
    p
      font-size 12px
  .more
    font-size 12px
    width 86px
    height 26px
    text-align center
    line-height 26px
    background-color #EFEFF4
    color #757576
    margin 5px auto
    border-radius 3px
.myHome
  display none
.home
  .items
    position relative
    overflow hidden
    height 114px
    background-color #FFF
    width 100%
    margin-bottom 10px
    border-bottom 1px solid #D9DADF
    .room
      float left
      width 40%
      img
        margin 10px 10px
        height 90px
    .money
      float left
      width 106px
      margin 10px 20px
      p:nth-child(1)
        color #474747
        font-weight bold
      p:nth-child(2)
        padding-top 5px
        font-size 12px
        color #c7c7c7
      .num
        font-size 16px
        color #ea5404
        font-weight bold
      .txt
        font-size 12px
        color #7a7a7a
      .location
        color #ea5404
        border 1px solid #ea5404
        border-radius 2px
        font-size 12px
        width 54px
        padding 2px 4px
        height 16px
        line-height 16px
        margin 8px 0
        text-align center
    .heart
      position absolute
      right 0
      top 10px
      .img
        margin-left 20px
        width 20px
        height 20px
        img
          height 12px
    .mon_date
      position absolute
      bottom 11px
      right 0
      font-size 12px
      color #7a7a7a


