@import "../common/navbar.styl"
@import "../common/body.styl"
.title
  position relative
  height 50px
  background-color #fff
  line-height 60px
  font-size 20px
  text-align center
  border-bottom 1px solid #D9DADF
  .setting
    position absolute
    width 20px
    height 20px
    right 10px
    top 2px
    img
      width 20px
.me_title
  background-color #FFF
  margin-top 14px
  .top
    position relative
    padding 14px
    border-bottom 1px solid #D9DADF
    .login_go
      position absolute
      width 20px
      height 26px
      right 10px
      top 50%
      margin-top -13px
      img
        height  26px
    .login
      overflow hidden
      span
        display block
        float left
        color #3D3D3D
        line-height 80px
        padding-left 10px
        font-weight bold
      img
        width 80px
        float left
  .bottom
    position relative
    overflow hidden
    border-bottom 1px solid #D9DADF
    .line
      position absolute
      width 1px
      height 36px
      background-color #d9dadf
      left 50%
      top 50%
      margin-top -18px
    .txt
      float left
      height 50px
      text-align center
      line-height 50px
      width 50%
      overflow hidden
      span
        color #7a7a7a
        display left
      span:nth-child(1)
        font-size 24px
        margin-right 10px
        font-weight bold
.lis
  position relative
  background-color #FFF
  overflow hidden
  margin-top 4px
  border-bottom 1px solid #D9DADF
  .right
    position absolute
    text-align center
    width 50px
    height 55px
    line-height 60px
    right 0
    img
      height 20px
  .img
    float left
    padding 15px
    img
      width 20px
  .txt
    padding 20px 10px
    font-size 13px
    float left
    span
      color #626262
.more_send
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background-color #000000
  background rgba(0,0,0,1)
  transform-origin center bottom
  transform scale(0)
  transition all 0.2s
  z-index 21
  &.active
    transform-origin center bottom
    transform scale(1)
    transition all 0.2s
  .send_need
    position absolute
    bottom 100px
    width 90px
    height 90px
    border-radius 50%
    background url("../../img/release/publish_btn02@2x.png") no-repeat center
    background-size 80%
    left 20%
    z-index 2
    &::after
      position absolute
      height 20px
      color #FFF
      left 20%
      font-size 12px
      bottom -20px
      content '发布需求'
  .send_home
    position absolute
    bottom 100px
    width 90px
    height 90px
    border-radius 50%
    background url("../../img/release/publish_btn01@2x.png") no-repeat center
    background-size 80%
    right 20%
    &::after
      position absolute
      height 20px
      color #FFF
      right 20%
      font-size 12px
      bottom -20px
      content '发布房源'
  .close
    position absolute
    width 50px
    height 50px
    bottom 5px
    left 50%
    margin-left -25px
    background url("../../img/release/publish_close_icon@2x.png") no-repeat center
    background-size 30%



