@import "../common/body.styl"
@import "../common/title.styl"
.home
  .del
    position absolute
    color #ea5404
    width 50px
    height 20px
    right 10px
    top 50px
    z-index 1
  .items
    position relative
    overflow hidden
    height 114px
    background-color #FFF
    width 100%
    margin-bottom 10px
    border-bottom 1px solid #D9DADF
    z-index 2
    .room
      float left
      width 40%
      img
        margin 10px 10px
        height 90px
    .money
      float left
      width 106px
      margin 10px 20px
      p:nth-child(1)
        color #474747
        font-weight bold
      p:nth-child(2)
        padding-top 5px
        font-size 12px
        color #c7c7c7
      .num
        font-size 16px
        color #ea5404
        font-weight bold
      .txt
        font-size 12px
        color #7a7a7a
      .location
        color #ea5404
        border 1px solid #ea5404
        border-radius 2px
        font-size 12px
        width 54px
        padding 2px 4px
        height 16px
        line-height 16px
        margin 8px 0
        text-align center
    .heart
      position absolute
      right 0
      top 10px
      .img
        margin-left 20px
        width 20px
        height 20px
        img
          height 12px
    .mon_date
      position absolute
      bottom 11px
      right 0
      font-size 12px
      color #7a7a7a

