<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link type="text/css" rel="stylesheet" href="../../public/css/message/message.css">
    <title>房我行-杭州瑞烁网络科技股份有限公司</title>
    <meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
    <meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
</head>
<body>
<div class="top">
    <div class="title">
        <div class="lis">消息</div>
        <div class="lis">通知</div>
        <div class="lis">需求</div>
    </div>
</div>
<!--消息-->
<div class="message">
    <div class="message_items">
        <div class="title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
        <div class="txt"><p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p></div>
        <div class="date">12/13/16:23</div>
    </div>
    <div class="message_items">
        <div class="title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
        <div class="txt"><p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p></div>
        <div class="date">12/13/16:23</div>
    </div>
    <div class="message_items">
        <div class="title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
        <div class="txt"><p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p></div>
        <div class="date">12/13/16:23</div>
    </div>
    <div class="message_items">
        <div class="title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
        <div class="txt"><p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p></div>
        <div class="date">12/13/16:23</div>
    </div>
    <div class="message_items">
        <div class="title">你眼中“醉美夜滨江”摄影征集启动啦！</div>
        <div class="txt"><p>霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩......你眼中“醉美”的滨江夜景在哪里？</p></div>
        <div class="date">12/13/16:23</div>
    </div>
</div>
<!--通知-->
<div class="notice">
    <div class="message_items">
        <div class="title">房源维护提示</div>
        <div class="txt"><p>您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
            <br>
        <span>地址：徐汇-龙华-科技大厦</span>
        </div>
        <div class="date_1">12/13/16:23</div>
    </div>
    <div class="message_items">
        <div class="title">房源维护提示</div>
        <div class="txt"><p>您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。</p>
            <br>
            <span>地址：徐汇-龙华-科技大厦</span>
        </div>
        <div class="date_1">12/13/16:23</div>
    </div>
</div>
<!--需求-->
<div class="need">
    <div class="needs">
        <div class="head">
            <div class="title">一个新的租房需求</div>
        </div>
        <img class="img" src="../../public/img/myRelease/content_list_border.9@2x.png" alt="">
        <div class="cont">
            <p>需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>
        </div>
        <div class="more"><span>了解详情</span></div>
        <div class="date">12/13/09:30</div>
        <div class="user" style="background-color: #15B755">租户</div>
    </div>
    <div class="needs">
        <div class="head">
            <div class="title">一个新的租房需求</div>
        </div>
        <img class="img" src="../../public/img/myRelease/content_list_border.9@2x.png" alt="">
        <div class="cont">
            <p>需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>
        </div>
        <div class="more"><span>了解详情</span></div>
        <div class="date">12/13/09:30</div>
        <div class="user" style="background-color: #0193E6">经纪人</div>
    </div>
    <div class="needs">
        <div class="head">
            <div class="title">一个新的租房需求</div>
        </div>
        <img class="img" src="../../public/img/myRelease/content_list_border.9@2x.png" alt="">
        <div class="cont">
            <p>需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>
        </div>
        <div class="more"><span>了解详情</span></div>
        <div class="date">12/13/09:30</div>
        <div class="user" style="background-color: #97B715">招商</div>
    </div>
    <div class="needs">
        <div class="head">
            <div class="title">一个新的租房需求</div>
        </div>
        <img class="img" src="../../public/img/myRelease/content_list_border.9@2x.png" alt="">
        <div class="cont">
            <p>需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>
        </div>
        <div class="more"><span>了解详情</span></div>
        <div class="date">12/13/09:30</div>
        <div class="user" style="background-color: #EA5404">代理商</div>
    </div>
</div>
<!--底部导航栏-->
<div class="navbar">
    <ul>
        <li class="li_01">
            <div><img src="../../public/img/bottomNav/bottom_nor_icon04@2x.png" alt=""></div>
            <span>首页</span>
        </li>
        <li class="li_02">
            <div><img src="../../public/img/bottomNav/bottom_nor_icon03@2x.png" alt=""></div>
            <span>预约</span>
        </li>
        <li class="li_03">
            <div class="more"><img src="../../public/img/bottomNav/bottom_icon05@2x.png" alt=""></div>
        </li>
        <li class="li_04">
            <div><img src="../../public/img/bottomNav/bottom_press_icon02@2x.png" alt=""></div>
            <span class="navbar_txt">信息</span>
        </li>
        <li class="li_05">
            <div><img src="../../public/img/bottomNav/bottom_nor_icon01@2x.png" alt=""></div>
            <span>我</span>
        </li>
    </ul>
</div>
<div class="more_send">
    <div class="send_need"></div>
    <div class="send_home"></div>
</div>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="../../public/js/selector.js"></script>
<script src="../../public/js/message/message.js"></script>
</body>
</html>