* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}
body {
  background-color: #efeff4;
}
.title {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d9dadf;
}
.title .prev {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
}
.title .prev img {
  width: 10px;
}
input {
  width: 96%;
  height: 39px;
  border: 1px solid #e3e3e8;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 4px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 12px;
  color: #b7b7b7;
  font-family: "微软雅黑";
  outline: none;
}
.add_btn {
  display: inline-block;
  width: 96%;
  height: 42px;
  border: 1px solid #e3e3e8;
  margin-left: 2%;
  margin-top: 15px;
  border-radius: 4px;
  color: #eb5c18;
  background: #fff;
  line-height: 42px;
  text-align: center;
}
.mark {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  top: 0;
  left: 0;
  display: none;
}
.alert {
  position: fixed;
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  left: 15%;
  height: 114px;
  top: 50%;
  margin-top: -57px;
  display: none;
}
.alert .top {
  height: 60px;
  border-bottom: 1px solid #e1e2e6;
  font-size: 12px;
  text-align: center;
  line-height: 60px;
}
.alert .bottom {
  font-size: 20px;
  color: #ea5404;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
