* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}
body {
  background-color: #efeff4;
}
.title {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d9dadf;
}
.title .prev {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
}
.title .prev img {
  width: 10px;
}
.title .prev {
  left: 5px;
  font-size: 16px;
}
.title .next {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: #ea5404;
  top: 0;
}
.con {
  margin-top: 60px;
}
.items_01 {
  width: 90%;
  margin-left: 5%;
  background-color: #fff;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.items_01 input {
  border: 0;
  margin: 16px 5%;
  width: 90%;
}
.items_02 {
  background-color: #fff;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
}
.items_02 textarea {
  width: 90%;
  margin: 16px 5%;
  resize: none;
  border: 0;
}
.mark {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  top: 0;
  z-index: 11;
  display: none;
}
.alert {
  position: absolute;
  width: 70%;
  left: 15%;
  height: 114px;
  top: 50%;
  margin-top: -57px;
  border-radius: 8px;
  background-color: #fff;
  z-index: 12;
  display: none;
}
.alert .top {
  height: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 12px;
  color: #3e3e3e;
  border-bottom: 1px solid #ebebee;
}
.alert .bottom {
  height: 30px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #ea5404;
}
