<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="./../public/css/login/login_01.css">
    <meta name="keywords" content="杭州赛技网络科技有限公司" />
    <meta name="description" content="杭州赛技网络科技有限公司是一家技术咨询：信息技术、网络技术；信息系统集成服务公司。主要做技术咨询：信息技术、网络技术；信息系统集成服务；网上销售：文具用品、体育用品、机械设备、五金、电子产品（除电子出版物）、家具、室内装饰材料、服装、服饰；体育设备出租。" />
    <title>房我行-杭州赛技网络科技有限公司</title>
</head>
<body>
<div class="login_top">
    <div class="prev"><img src="./../../public/img/login/nav_back_icon@2x.png" alt=""></div>
    <span>登录</span>
</div>

<div class="ipt">
    <div class="ipt_txt">
        <div class="use"><img src="./../../public/img/login/content_ID_icon@2x.png" alt=""></div>
        <div class="txt">账号:</div>
        <input type="text" placeholder="请输入您的手机号" class="use_txt">
    </div>
    <div class="ipt_txt">
        <div class="passwd"><img src="./../../public/img/login/content_password_icon@2x.png" alt=""></div>
        <div class="txt ps_txt">密码:</div>
        <input type="password" placeholder="请输入您的账号密码" class="ps_txt">
    </div>
</div>

<div class="button">登录</div>
<span class="registered">注册</span>
<span class="forget">忘记密码？</span>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="../../public/js/login/login_01.js"></script>
</body>
</html>