<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="stylesheet" type="text/css" href="./../public/css/login/login_01.css">
    <title>房我行-杭州瑞烁网络科技股份有限公司</title>
    <meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
    <meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
</head>
<body>
<div class="login_top">
    <div class="prev"><img src="./../../public/img/login/nav_back_icon@2x.png" alt=""></div>
    <span>登录</span>
</div>

<div class="ipt">
    <div class="ipt_txt">
        <div class="use"><img src="./../../public/img/login/content_ID_icon@2x.png" alt=""></div>
        <div class="txt">账号:</div>
        <input type="text" placeholder="请输入您的手机号" class="use_txt">
    </div>
    <div class="ipt_txt">
        <div class="passwd"><img src="./../../public/img/login/content_password_icon@2x.png" alt=""></div>
        <div class="txt ps_txt">密码:</div>
        <input type="password" placeholder="请输入您的账号密码" class="ps_txt">
    </div>
</div>

<div class="button">登录</div>
<span class="registered">注册</span>
<span class="forget">忘记密码？</span>
<script src="../../public/js/zepto.min.js"></script>
<script src="../../public/js/touch.js"></script>
<script src="../../public/js/login/login_01.js"></script>
</body>
</html>