* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}
body {
  background-color: #efeff4;
}
.title {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d9dadf;
}
.title .prev {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
}
.title .prev img {
  width: 10px;
}
.logo {
  height: 290px;
}
.logo .img {
  width: 150px;
  position: fixed;
  top: 16%;
  left: 50%;
  margin-left: -75px;
}
.logo .img span {
  position: absolute;
  left: 110px;
  bottom: 8px;
  color: #777;
}
.logo .img .img_01 {
  margin: 0 auto;
  width: 100px;
  display: block;
}
.logo .img .img_02 {
  display: block;
  width: 100px;
  margin-top: 10px;
}
.items {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #d9dadf;
  background-color: #fff;
  padding-left: 8px;
  margin-top: 10px;
  line-height: 50px;
  color: #474747;
}
.items .cookie {
  float: right;
  margin-right: 30px;
  color: #bfbfbf;
}
.items .img_01 {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
  height: 14px;
}
.footer {
  position: fixed;
  bottom: 40px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  color: #717171;
}
