* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}
body {
  background-color: #efeff4;
}
.title {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d9dadf;
}
.title .prev {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
}
.title .prev img {
  width: 10px;
}
.select {
  position: relative;
  background-color: #fff;
  margin: 10px 0;
  overflow: hidden;
}
.select .border {
  position: absolute;
  width: 1px;
  height: 24px;
  background-color: #efeff4;
  left: 50%;
  top: 50%;
  margin-top: -12px;
}
.select .title {
  float: left;
  width: 50%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
.select .title:nth-child(1) {
  border-bottom: 1px solid #ea5404;
  color: #ea5404;
}
.needs {
  position: relative;
  width: 90%;
  height: 130px;
  margin: 10px auto;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 1px solid #d9dadf;
}
.needs .user {
  position: absolute;
  width: 44px;
  height: 20px;
  border-radius: 3px;
  right: 10px;
  top: 14px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.needs .us01 {
  background-color: #15b755;
}
.needs .us02 {
  background-color: #0193e6;
}
.needs .date {
  position: absolute;
  width: 100px;
  height: 20px;
  right: -10px;
  bottom: 8px;
  font-size: 12px;
  color: #c7c7c7;
}
.needs .head {
  overflow: hidden;
  height: 30px;
  line-height: 46px;
  padding: 0 8px;
}
.needs .head .title {
  height: 30px;
  float: left;
  line-height: 46px;
  font-size: 14px;
}
.needs .img {
  width: 100%;
}
.needs .cont {
  padding: 8px;
}
.needs .cont p {
  font-size: 12px;
}
.needs .more {
  font-size: 12px;
  width: 86px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  background-color: #efeff4;
  color: #757576;
  margin: 5px auto;
  border-radius: 3px;
}
.myHome {
  display: none;
}
.home .items {
  position: relative;
  overflow: hidden;
  height: 114px;
  background-color: #fff;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9dadf;
}
.home .items .room {
  float: left;
  width: 40%;
}
.home .items .room img {
  margin: 10px 10px;
  height: 90px;
}
.home .items .money {
  float: left;
  width: 106px;
  margin: 10px 20px;
}
.home .items .money p:nth-child(1) {
  color: #474747;
  font-weight: bold;
}
.home .items .money p:nth-child(2) {
  padding-top: 5px;
  font-size: 12px;
  color: #c7c7c7;
}
.home .items .money .num {
  font-size: 16px;
  color: #ea5404;
  font-weight: bold;
}
.home .items .money .txt {
  font-size: 12px;
  color: #7a7a7a;
}
.home .items .money .location {
  color: #ea5404;
  border: 1px solid #ea5404;
  border-radius: 2px;
  font-size: 12px;
  width: 54px;
  padding: 2px 4px;
  height: 16px;
  line-height: 16px;
  margin: 8px 0;
  text-align: center;
}
.home .items .heart {
  position: absolute;
  right: 0;
  top: 10px;
}
.home .items .heart .img {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}
.home .items .heart .img img {
  height: 12px;
}
.home .items .mon_date {
  position: absolute;
  bottom: 11px;
  right: 0;
  font-size: 12px;
  color: #7a7a7a;
}
