.navbar {
  position: fixed;
  background-color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #f3f3f4;
  z-index: 20;
}
.navbar ul {
  overflow: hidden;
  text-align: center;
}
.navbar ul li {
  position: relative;
  width: 20%;
  height: 60px;
  text-align: center;
  font-size: 16px;
  color: #b9b9b9;
  float: left;
}
.navbar ul li .navbar_txt {
  color: #ea5404;
}
.navbar ul li div {
  position: absolute;
  left: 50%;
  margin-left: -17px;
  top: 5px;
}
.navbar ul li div img {
  height: 22px;
}
.navbar ul li .more {
  margin-left: -28px;
}
.navbar ul li .more img {
  margin-left: 4px;
  height: 40px;
  width: 40px;
}
.navbar ul li span {
  line-height: 80px;
  margin-left: -10px;
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}
body {
  background-color: #efeff4;
}
.title {
  position: relative;
  height: 50px;
  background-color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d9dadf;
}
.title .setting {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 2px;
}
.title .setting img {
  width: 20px;
}
.me_title {
  background-color: #fff;
  margin-top: 14px;
}
.me_title .top {
  position: relative;
  padding: 14px;
  border-bottom: 1px solid #d9dadf;
}
.me_title .top .login_go {
  position: absolute;
  width: 20px;
  height: 26px;
  right: 10px;
  top: 50%;
  margin-top: -13px;
}
.me_title .top .login_go img {
  height: 26px;
}
.me_title .top .login {
  overflow: hidden;
}
.me_title .top .login span {
  display: block;
  float: left;
  color: #3d3d3d;
  line-height: 80px;
  padding-left: 10px;
  font-weight: bold;
}
.me_title .top .login img {
  width: 80px;
  float: left;
}
.me_title .bottom {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #d9dadf;
}
.me_title .bottom .line {
  position: absolute;
  width: 1px;
  height: 36px;
  background-color: #d9dadf;
  left: 50%;
  top: 50%;
  margin-top: -18px;
}
.me_title .bottom .txt {
  float: left;
  height: 50px;
  text-align: center;
  line-height: 50px;
  width: 50%;
  overflow: hidden;
}
.me_title .bottom .txt span {
  color: #7a7a7a;
  display: left;
}
.me_title .bottom .txt span:nth-child(1) {
  font-size: 24px;
  margin-right: 10px;
  font-weight: bold;
}
.lis {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  margin-top: 4px;
  border-bottom: 1px solid #d9dadf;
}
.lis .right {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 50%;
  margin-top: -10px;
}
.lis .right img {
  height: 20px;
}
.lis .img {
  float: left;
  padding: 15px;
}
.lis .img img {
  width: 20px;
}
.lis .txt {
  padding: 20px 10px;
  font-size: 13px;
  float: left;
}
.lis .txt span {
  color: #626262;
}
