@import "../common/body.styl"
@import "../common/title.styl"
.title
  .prev
    font-size 16px
.top
  display flex
  margin-top 60px
  .search
    flex 5
    height 34px
    border 1px solid #E3E3E8
    border-radius 4px
    background-color #FFF
    margin-left 10px
    input
      background url("../../img/releaseHome/content_search_icon@2x.png") no-repeat 10px 3px
      background-size 14px
      padding 3px 30px
      margin-top 8px
      border 0
  .add
    height 34px
    background url("../../img/releaseHome/content_plus_icon@2x.png") no-repeat left 10px
    background-size 14px
    margin-left 10px
    font-size 12px
    padding-left 20px
    text-align left
    width 130px
    line-height 34px