* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}
body {
  background-color: #efeff4;
}
.title {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d9dadf;
}
.title .prev {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
}
.title .prev img {
  width: 10px;
}
.title .prev {
  font-size: 14px;
}
.title .next {
  position: absolute;
  font-size: 14px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  right: 5px;
  bottom: 10px;
  color: #ea5404;
}
p.txt {
  font-size: 14px;
  color: #b7b7b8;
  padding: 8px;
}
.items_01 {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e8;
  height: 50px;
}
.items_01 .user {
  flex: 1;
  background: url("../../../public/img/reservationXq/content_img_user@2x.png") no-repeat center;
  background-size: 40px;
}
.items_01 .user_txt {
  flex: 5;
}
.items_01 .user_txt p:nth-child(1) {
  font-size: 14px;
  color: #3e3e3e;
  margin: 10px 4px;
}
.items_01 .user_txt p:nth-child(2) {
  font-size: 12px;
  color: #7b7b7b;
  margin: -8px 4px;
}
.items_01 .tel {
  position: relative;
  flex: 1;
  background: url("../../../public/img/reservationXq/content_icon_call@2x.png") no-repeat center;
  background-size: 24px;
}
.items_01 .tel .border {
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #f0f0f0;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
.items_02 {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e8;
  height: 64px;
}
.items_02 p {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  color: #3e3e3e;
}
.items_02 .txt_all {
  margin-top: -10px;
}
.items_02 .txt_all .txt {
  display: inline-block;
  width: 40%;
  font-size: 12px;
  margin-left: 10px;
  color: #7b7b7b;
}
.items_03 {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e8;
  height: 45px;
}
.items_03 span {
  font-size: 16px;
  line-height: 46px;
  padding: 10px;
}
.items_04 {
  width: 100%;
  background-color: #fff;
  height: 170px;
  padding-top: 8px;
}
.items_04 .check_box {
  border: 1px solid #dadada;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 13px;
  line-height: 18px;
  margin-top: 6px;
  margin-left: 10px;
}
.items_04 .check_box.active {
  border-color: #ea5404;
  background: url("../../img/reservationXq/content_list_icon_right@2x.png") no-repeat center;
  background-size: 80%;
}
.items_04 .check_box:nth-child(1)::after {
  content: '客户不满意';
  display: inline-block;
  margin-left: 30px;
  width: 240px;
}
.items_04 .check_box:nth-child(2)::after {
  content: '已经联系客户，预约取消';
  display: inline-block;
  margin-left: 30px;
  width: 240px;
}
.items_04 .check_box:nth-child(3)::after {
  content: '其他原因';
  display: inline-block;
  margin-left: 30px;
  width: 240px;
}
.items_04 textarea {
  border-radius: 3px;
  padding: 4px;
  margin-left: 4%;
  margin-top: 10px;
  background-color: #efeff4;
  width: 90%;
}
.ok {
  position: relative;
  width: 90%;
  left: 5%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  background-color: #ea5404;
  border-radius: 4px;
  margin-top: 4px;
}
