* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  outline: none;
}
body {
  background-color: #efeff4;
}
.title {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 60px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #d9dadf;
}
.title .prev {
  position: absolute;
  top: 0;
  left: -10px;
  width: 50px;
}
.title .prev img {
  width: 10px;
}
.title .prev {
  font-size: 14px;
}
.title .next {
  position: absolute;
  font-size: 14px;
  width: 40px;
  height: 20px;
  line-height: 20px;
  right: 5px;
  bottom: 10px;
  color: #ea5404;
}
.box {
  margin-top: 100px;
}
.book_box {
  position: relative;
  width: 60%;
  left: 20%;
  height: 142px;
  border-radius: 5px;
  background-color: #878787;
  margin-top: 20px;
}
.book_box .txt {
  color: #b8b8b9;
  font-size: 12px;
  position: absolute;
  height: 20px;
  width: 110px;
  top: -30px;
  left: 50%;
  margin-left: -55px;
}
.book_box span {
  display: block;
  position: absolute;
  height: 20px;
  width: 100px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  bottom: 15%;
  left: 50%;
  margin-left: -50px;
}
.book_box .border_col {
  position: absolute;
  width: 1px;
  height: 40px;
  background-color: #fff;
  top: 50%;
  margin-top: -20px;
  left: 50%;
}
.book_box .border_row {
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -20px;
}
